{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Мои предприятия{% endblock %}

{% block content %}
<div class="container">
    <div class="enterprise-list">
       <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-3">
      <h2>Добро пожаловать, {{ user.get_full_name|default:user.username }}!</h2>

      <div class="d-flex gap-2">
        <a href="{% url 'reports:reports_list' %}" class="btn btn-outline-success">
          Отчёты
        </a>
        <a href="{% url 'telemetry:enterprises_import' %}" class="btn btn-outline-success">
          Импорт предприятий
        </a>
        <a href="{% url 'telemetry:vehicles_import' %}" class="btn btn-outline-primary">
          Импорт машин
        </a>
        <a href="{% url 'telemetry:trips_import' %}" class="btn btn-outline-info">
          Импорт поездок
        </a>
        <form method="post" action="{% url 'logout' %}" class="mb-0">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Выйти</button>
        </form>
      </div>
    </div>

        {% if enterprises %}
            <div class="list-group">
                {% for ent in enterprises %}
                    <a href="{% url 'vehicle_list' ent.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ ent.name }}</h5>
                            <small class="text-muted">ID: {{ ent.id }}</small>
                        </div>
                        <p class="mb-1 text-muted">
                            Машин: {{ ent.vehicle_count }} | Водителей: {{ ent.driver_count }} | {{ ent.timezone }}
                        </p>
                         <a href="{% url 'enterprise_update' ent.id %}"
                               class="btn btn-outline-primary btn-sm w-100">
                                Редактировать предприятие
                            </a>
                    </a>
                {% empty %}
                    <div class="alert alert-info">У вас нет доступных предприятий.</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">Нет предприятий для отображения.</div>
        {% endif %}
    </div>
</div>
{% endblock %}